{{> _header}}
<div class="top-baner map-baner">
	<div id="map-canvas" class="style-1" data-lat="33.664467" data-lng="-117.601586" data-zoom="8" data-style="3"> </div>
	<div class="addresses-block">
		<a data-lat="33.664467" data-lng="-117.601586" data-string="Santa Monica Hotel"></a>
	</div>
	<div class="addresses-block">
		<a data-lat="34.0715983" data-lng="-118.3979557" data-string="Beverly Hills Hotel"></a>
	</div>
	<div class="addresses-block">
		<a data-lat="34.0627456" data-lng="-118.2450692" data-string="Los Angeles Hotel"></a>
	</div>
	<div class="addresses-block">
		<a data-lat="33.937677" data-lng="-118.1304229" data-string="Downey Hotel"></a>
	</div>
</div>
<div class="container">
	<form action="#" class="hotel-filter">
		<div class="baner-bar">
			<div class="row">
				<div class="col-md-2">
					<div class="hotels-block">
						<h4>Check in</h4>
						<div class="input-style-1">
							<img src="img/calendar_icon_grey.png" alt="">
							<input type="text" placeholder="" class="datepicker" required>
						</div>
					</div>
				</div>
			
			</div>

		</div>
	</form>
</div>