{{> _banner}}
<!-- BLOG -->
<div class="detail-wrapper">
  <div class="container">
    <div class="row padd-90">
      <div class="col-xs-12 col-md-8 col-md-push-4">
        <div class="account">
          <div class="account-header">
            <h2 class="account-title">Presentation</h2>
          </div>
          <div class="dashboard-listing booking-listing">
            

            <div class="table-responsive">
              <table class="table table-hover">
                <tbody>
                  <tr>
                    <td class="dash-list-icon booking-list-date">
                      <div class="b-date">
                        <h3>18</h3>
                        <p>October</p>
                      </div>
                    </td>
                    <td class="dash-list-text booking-list-detail">
                      <h3>Tom's Restaurant</h3>
                      <ul class="list-unstyled booking-info">
                        <li>
                          <span>Booking Date:</span> 26.12.2017 at 03:20 pm</li>
                        <li>
                          <span>Booking Details:</span> 3 to 6 People</li>
                        <li>
                          <span>Client:</span> Lisa Smith
                          <span class="line">|</span>lisasmith@youremail.com
                          <span class="line">|</span>125 254 2578</li>
                      </ul>
                      <button class="btn btn-orange">Message</button>
                    </td>
                    <td class="dash-list-btn">
                      <button class="btn btn-orange">Cancel</button>
                      <button class="btn">Approve</button>
                    </td>
                  </tr>

                  <tr>
                    <td class="dash-list-icon booking-list-date">
                      <div class="b-date">
                        <h3>18</h3>
                        <p>October</p>
                      </div>
                    </td>
                    <td class="dash-list-text booking-list-detail">
                      <h3>Tom's Restaurant</h3>
                      <ul class="list-unstyled booking-info">
                        <li>
                          <span>Booking Date:</span> 26.12.2017 at 03:20 pm</li>
                        <li>
                          <span>Booking Details:</span> 3 to 6 People</li>
                        <li>
                          <span>Client:</span> Lisa Smith
                          <span class="line">|</span>lisasmith@youremail.com
                          <span class="line">|</span>125 254 2578</li>
                      </ul>
                      <button class="btn btn-orange">Message</button>
                    </td>
                    <td class="dash-list-btn">
                      <button class="btn btn-orange">Cancel</button>
                      <button class="btn">Approve</button>
                    </td>
                  </tr>

                  <tr>
                    <td class="dash-list-icon booking-list-date">
                      <div class="b-date">
                        <h3>18</h3>
                        <p>October</p>
                      </div>
                    </td>
                    <td class="dash-list-text booking-list-detail">
                      <h3>Tom's Restaurant</h3>
                      <ul class="list-unstyled booking-info">
                        <li>
                          <span>Booking Date:</span> 26.12.2017 at 03:20 pm</li>
                        <li>
                          <span>Booking Details:</span> 3 to 6 People</li>
                        <li>
                          <span>Client:</span> Lisa Smith
                          <span class="line">|</span>lisasmith@youremail.com
                          <span class="line">|</span>125 254 2578</li>
                      </ul>
                      <button class="btn btn-orange">Message</button>
                    </td>
                    <td class="dash-list-btn">
                      <button class="btn btn-orange">Cancel</button>
                      <button class="btn">Approve</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- end table-responsive -->
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 col-md-pull-8">
        <div class="right-sidebar">
         
          <div class="sidebar-block type-2">
            <img class="account-img" src="/img/detail/comment_1.jpg" alt="">
            <ul class="sidebar-category color-5">
              <li >
                <a href="#">Vue d'ensemble du compte
                </a>
              </li>
              <li>
                <a href="#">Modifier votre profile
                </a>
              </li>
              <li>
                <a href="#">Mot de passe
                </a>
              </li>
              <li class="active">
                <a href="#">Historique des reservations
                </a>
              </li>
              <li>
                <a href="#">Vos voyages
                </a>
              </li>

            </ul>
          </div>





        </div>
      </div>
    </div>
  </div>
</div>