{{> _banner}}
<!-- BLOG -->
<div class="detail-wrapper">
	<div class="container">
		<div class="row padd-90">
			<div class="col-xs-12 col-md-8 col-md-push-4">
				<div class="account">
					<div class="account-header">
						<h2 class="account-title">Presentation</h2>
					</div>
					<div class="row">
						<div class="box col-md-6 ">
							<h3>Profile</h3>
							<div class="form-group">
								<label class="color-grey-8">Nom d'utilisateur</label>
								<p class="form-control-static" id="card-profile-username">khoulitalo</p>
							</div>
							<div class="form-group">
								<label class="color-grey-8">Adresse d'email</label>
								<p class="form-control-static" id="card-profile-username">khoulitalo</p>
							</div>
							<div class="form-group">
								<label class="color-grey-8">Date de naissance</label>
								<p class="form-control-static" id="card-profile-username">khoulitalo</p>
							</div>
							<div class="form-group">
								<label class="color-grey-8">Contry</label>
								<p class="form-control-static" id="card-profile-username">khoulitalo</p>
							</div>
							<div class="form-group">
								<label class="color-grey-8">Code postal</label>
								<p class="form-control-static" id="card-profile-username">khoulitalo</p>
							</div>
							<input class=" c-button full b-20 bg-dr-blue-2 hv-dr-blue-2-o" type="button" value="Profil">

						</div>
						<div class="box col-md-6 ">
							<h3>Profile</h3>
							<div class="form-group">
								<label class="color-grey-8">Nom d'utilisateur</label>
								<p class="form-control-static" id="card-profile-username">khoulitalo</p>
							</div>
							<div class="form-group">
								<label class="color-grey-8">Adresse d'email</label>
								<p class="form-control-static" id="card-profile-username">khoulitalo</p>
							</div>
							<div class="form-group">
								<label class="color-grey-8">Date de naissance</label>
								<p class="form-control-static" id="card-profile-username">khoulitalo</p>
							</div>
							<div class="form-group">
								<label class="color-grey-8">Contry</label>
								<p class="form-control-static" id="card-profile-username">khoulitalo</p>
							</div>
							<div class="form-group">
								<label class="color-grey-8">Code postal</label>
								<p class="form-control-static" id="card-profile-username">khoulitalo</p>
							</div>
							<input class=" c-button full b-20 bg-dr-blue-2 hv-dr-blue-2-o" type="button" value="Profil">

						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-4 col-md-pull-8">
				<div class="right-sidebar">
					{{!--
					<div class="sidebar-block type-2">
						<div class="widget-search clearfix">
							<form>
								<div class="input-style-1 b-50 brd-0 type-2 color-3">
									<input type="text" placeholder="Enter what you want to find">
								</div>
								<input class="widget-submit" type="submit" value="">
							</form>
						</div>
					</div> --}}
					<div class="sidebar-block type-2">
						<img class="account-img" src="/img/detail/comment_1.jpg" alt="">
						<ul class="sidebar-category color-5">
							<li class="active">
								<a href="#">Vue d'ensemble du compte
								</a>
							</li>
							<li>
								<a href="#">Modifier votre profile
								</a>
							</li>
							<li>
								<a href="#">Mot de passe
								</a>
							</li>
							<li>
								<a href="#">Historique des reservations
								</a>
							</li>
							<li>
								<a href="#">Vos voyages
								</a>
							</li>

						</ul>
					</div>





				</div>
			</div>
		</div>
	</div>
</div>