<!-- INNER-BANNER -->
<div class="inner-banner style-2 background-block" style="background-image: url(&quot;img/tour_list/inner_banner_3.jpg&quot;);">
	<img class="center-image" src="/img/andrea-cappiello-770323-unsplash.jpg" alt="" style="display: none;">
	<div class="vertical-align">
		<div class="container" style="padding-top: 100px;">
			<ul class="banner-breadcrumb color-white clearfix">
				<li>
					<a class="link-blue-2" href="#">Acceuil</a> /</li>
				{{!-- <li>
					<a class="link-blue-2" href="#">tours</a> /</li> --}}
				<li>
					<span class="color-red-3">{{{trimString title 0 9}}}</span>
				</li>
			</ul>
			<h2 class="color-white">{{title}}</h2>
			{{!-- <h4 class="color-white">We found: --}}
				{{!-- <span class="color-red-3">640</span> flights</h4> --}}
		</div>
	</div>
</div>