
  {{> _navbar}}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="nav">
          <a href="/" class="logo">
            <img src="/img/logo2.png" alt="lets travel">
          </a>
          <div class="nav-menu-icon">
            <a href="#">
              <i></i>
            </a>
          </div>
          <nav class="menu">
            <ul>
              <li class="type-1 active">
                <a href="/index2">Acceuil
                  <span class="fa fa-angle-down"></span>
                </a>
                
              </li>
              <li class="type-1">
                <a href="#">À propos
                  <span class="fa fa-angle-down"></span>
                </a>
                <ul class="dropmenu">
                  <li>
                    <a href="/">Qui somme nous ?</a>
                  </li>
                  <li>
                    <a href="index_2.html">Nos partenaires</a>
                  </li>
                  <li>
                    <a href="index_3.html">Votre sejour</a>
                  </li>
                 
                          
                </ul>
                
              </li>
              <li class="type-1">
                <a href="#">Tours
                  <span class="fa fa-angle-down"></span>
                </a>
                
              </li>
              <li class="type-1">
                <a href="#">Événement 
                  <span class="fa fa-angle-down"></span>
                </a>
                
              </li>
              
              <li class="type-1">
                <a href="/contact">Contactez nous
                  <span class="fa fa-angle-down"></span>
                </a>
                
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>