{{> _header}}
<div class="not-found">     
	<img class="center-image" src="/img/hassan-weller-742173-unsplash.jpg" alt="">
	<div class="not-found-boxtransparent">
		<div class="not-found-title">ouch!</div>
		<div class="not-found-message">Nous sommes désolé, La page que vous recherchez semble introuvable.</div>
    <h6 class="center color-white">Code d'erreur : 404</h6>
		{{!-- <a href="#" class="c-button b-60 bg-white hv-white-o"><span>view more</span></a> --}}
	</div>
</div>