

  <div class="main-wraper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="second-title">
            <h1>About </h1>
                <p>This is my very first NodeJS WEB app #proudMe </p>
                <p>Version: 1.0.0</p>
          </div>
        </div>
      </div>
      
    </div>
  </div>

 