 {{> _indexheader}}

<div class="full-height">
  <div class="clip">
    <div class="bg bg-bg-chrome" style="background-image:url(img/sergey-pesterev-223638-unsplash.jpg)">
    </div>
  </div>
  <div class="vertical-align">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <div class="main-title left">
            <h1>Ikkiss 
              <br>Groupe</h1>
              <h3>Authentique et luxueuse tours du Maroc .</h3>
              <br>
            <div class="tab-content flight_widget tpl-tabs-cont section-text t-con-style-1">

              <div class="tab-pane  active in" id="two">
                <div data-skyscanner-widget="SearchWidget" data-locale="fr-FR" data-origin-geo-lookup="true" data-responsive="true" data-enable-placeholders="false" data-params="fontColour:#fff;buttonColour:#D73240;"
                  data-destination-name="'Rabat (RBA)'"></div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-wraper padd-90">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<div class="second-title">
					<h4 class="subtitle color-dr-blue-2 underline">Qui somme nous?</h4>
					{{!-- <h2>why choose us</h2> --}}
				</div>
			</div>
		</div>  	
		<div class="row">
			{{!-- <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2">
				<div class="simple-text">
					<h3>What We Do?</h3>
					<ul class="color-grey dot-blue-2">
						<li>First Class Flights</li>
						<li>5 Star Accommodations</li>
						<li>Inclusive Packages</li>
						<li>Latest Model Vehicles</li>
						<li>Best Price Guarantee</li>								
					</ul>
				</div>
			</div> --}}
			<div class="col-mob-12 col-xs-12 col-sm-6 col-lg-4">
				<img class="img-responsive img-full radius-5" src="img/2009-01-31 16.44.03.jpg" alt="">
			</div>					
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
				<div class="simple-text">
					<h3>Notre agence</h3>
					<p class="color-grey">Ikkiss Group est un tour-opérateur spécial qui propose de vrais tours authentiques et expériences inédites de voyage. Nous sommes connus pour penser le voyage et la découverte , l’aventure comme un Art de voyager. Notre philosophie est de donner à chaque tour une âme et une expérience hors du commun. Les sites et les endroits fabuleux  visités doivent par leur charme et leurs sensations vous donner le désir de retourner les voir. L´éblouissement des sens . </p> 

					<h4>A propos du maroc</h4>
          <br>
					<p class="color-grey">Le Maroc est la terre ou les hommes et la nature sont toujours en harmonie.Terre de contrastes, de culture, d’art , de civilisation et de patrimoine des trois religion musulmane chrétienne hébraïque. Terre heureuse de gens heureux. Un Savoir-vivre particulier et unique .Une invitation s’impose venez vite et vivez le réellement.</p>
				</div>
			</div>
		</div>
    </div>
</div>
<div class="container-fluid">
  <div class="row no-padd">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="item-block">
        <div class="tour-layer delay-1"></div>
        <div class="vertical-align">
          <h3>Nos Tours sur mesure</h3>
          <p>Nous sommes toujours contents de pouvoir créer des tours taillés sur mesure.</p>
          <a href="#" class="c-button small border-white">
            <span>Explorer</span>
          </a>
        </div>
        <img src="img/ferran-feixas-736120-unsplash.jpg" alt="">
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="item-block">
        <div class="tour-layer delay-1"></div>
        <div class="vertical-align">
          <h3>Nos voyage inédit</h3>
          <p>Voyager est encore plus magique quand c’est partagé.</p>
          <a href="#" class="c-button small border-white">
            <span>Explorer</span>
          </a>
        </div>
        <img src="img/federico-gutierrez-664507-unsplash.jpg" alt="">
      </div>
    </div>
  </div>
  {{!-- <div class="row no-padd">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="item-block style-2">
        <div class="tour-layer delay-1"></div>
        <div class="vertical-align">
          <div class="rate">
            <span class="fa fa-star color-yellow"></span>
            <span class="fa fa-star color-yellow"></span>
            <span class="fa fa-star color-yellow"></span>
            <span class="fa fa-star color-yellow"></span>
            <span class="fa fa-star color-yellow"></span>
          </div>
          <h3>dubai</h3>
          <h4>from
            <b>$600</b>
          </h4>
          <p>Nunc cursus libero purus ac cursus.</p>
        </div>
        <img src="img/home_2/item_img_3.jpg" alt="">
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="item-block style-2">
        <div class="tour-layer delay-1"></div>
        <div class="vertical-align">
          <div class="rate">
            <span class="fa fa-star color-yellow"></span>
            <span class="fa fa-star color-yellow"></span>
            <span class="fa fa-star color-yellow"></span>
            <span class="fa fa-star color-yellow"></span>
            <span class="fa fa-star color-yellow"></span>
          </div>
          <h3>madagascar</h3>
          <h4>from
            <b>$600</b>
          </h4>
          <p>Nunc cursus libero purus ac cursus.</p>
        </div>
        <img src="img/home_2/item_img_4.jpg" alt="">
      </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
      <div class="item-block style-2">
        <div class="tour-layer delay-1"></div>
        <div class="vertical-align">
          <div class="rate">
            <span class="fa fa-star color-yellow"></span>
            <span class="fa fa-star color-yellow"></span>
            <span class="fa fa-star color-yellow"></span>
            <span class="fa fa-star color-yellow"></span>
            <span class="fa fa-star color-yellow"></span>
          </div>
          <h3>monaco</h3>
          <h4>from
            <b>$600</b>
          </h4>
          <p>Nunc cursus libero purus ac cursus.</p>
        </div>
        <img src="img/home_2/item_img_5.jpg" alt="">
      </div>
    </div>
  </div> --}}
  <div class="row no-padd">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="tour-block tour-block-s-1">
        <div class="tour-layer delay-1"></div>
        <img src="img/3.jpg" class="res-img" alt="">
        <div class="tour-caption">
          <div class="vertical-top">
            <a href="#" class="button-s-2 bg-orange fl">Promotion</a>
            {{!-- <div class="weth-icon fr">
              <img src="img/weather_icon_small.png" alt="">
              <b>+30oC</b>
            </div> --}}
          </div>
          <div class="vertical-align">
            <h3>VILLES IMPÉRIALES <br> ET OASIS</h3>
            <div class="rate">
              <span class="fa fa-star color-yellow"></span>
              <span class="fa fa-star color-yellow"></span>
              <span class="fa fa-star color-yellow"></span>
              <span class="fa fa-star color-yellow"></span>
              <span class="fa fa-star"></span>
            </div>
            {{!-- <h4>
              <b>$550</b>
            </h4> --}}
          </div>
          <div class="vertical-bottom">
            <div class="fl">
              <div class="tour-info">
                <img src="img/people_icon.png" alt="">
                <span class="font-style-2">
                  <b>Groupe</b> 
              </div>
              <div class="tour-info">
                <img src="img/calendar_icon.png" alt="">
                <span class="font-style-2"> Du
                  <b> 19</b>, au 
                  <b> 26</b> Octobre
                </span>
              </div>
            </div>
            <a href="#" class="c-button small fr border-white">
              <span>voir l'offre</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="tour-block tour-block-s-1">
        <div class="tour-layer delay-1"></div>
        <img src="img/2.jpg" class="res-img" alt="">
        <div class="tour-caption">
          <div class="vertical-top">
            {{!-- <a href="#" class="button-s-2 bg-orange fl"></a> --}}
            {{!-- <div class="weth-icon fr">
              <img src="img/weather_icon_rain.png" alt="">
              <b>+15oC</b>
            </div> --}}
          </div>
          <div class="vertical-align">
            <h3>VILLES IMPÉRIALES ET <br> MAROC PROFOND  </h3>
            <div class="rate">
              <span class="fa fa-star color-yellow"></span>
              <span class="fa fa-star color-yellow"></span>
              <span class="fa fa-star color-yellow"></span>
              <span class="fa fa-star color-yellow"></span>
              <span class="fa fa-star"></span>
            </div>
            {{!-- <h4>
              <b>$790</b>
            </h4> --}}
          </div>
          <div class="vertical-bottom">
            <div class="fl">
              <div class="tour-info">
                <img src="img/people_icon.png" alt="">
                <span class="font-style-2">
                  <b>Groupe</b>
              </div>
              <div class="tour-info">
                <img src="img/calendar_icon.png" alt="">
                <span class="font-style-2">July
                  <b> 19</b>, au 
                  <b> 26</b> Octobre
                </span>
              </div>
            </div>
            <a href="#" class="c-button small fr border-white">
              <span>voir l'offre</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
      <div class="tour-block tour-block-s-1">
        <div class="tour-layer delay-1"></div>
        <img src="img/1.jpg" class="res-img" alt="">
        <div class="tour-caption">
          <div class="vertical-top">
            {{!-- <a href="#" class="button-s-2 bg-orange fl">save 20%</a> --}}
            {{!-- <div class="weth-icon fr">
              <img src="img/weather_icon_small.png" alt="">
              <b>+27C</b>
            </div> --}}
          </div>
          <div class="vertical-align">
            <h3>MAROC PROFOND ET <br> LA MAGIE DU SAHARA </h3>
            <div class="rate">
              <span class="fa fa-star color-yellow"></span>
              <span class="fa fa-star color-yellow"></span>
              <span class="fa fa-star color-yellow"></span>
              <span class="fa fa-star color-yellow"></span>
              <span class="fa fa-star"></span>
            </div>
           
          </div>
          <div class="vertical-bottom">
            <div class="fl">
              <div class="tour-info">
                <img src="img/people_icon.png" alt="">
                <span class="font-style-2">
                  <b>Groupe</b>
              </div>
              <div class="tour-info">
                <img src="img/calendar_icon.png" alt="">
                <span class="font-style-2">DU
                  <b> 19</b>, au
                  <b> 26</b>
                </span>
              </div>
            </div>
            <a href="#" class="c-button small fr border-white">
              <span>voir l'offre</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row no-padd">
    <div class="col-md-12 arrows">
      <div class="swiper-container best-slider" data-autoplay="0" data-loop="1" data-speed="1000" data-center="0" data-slides-per-view="1"
        id="tour-slide-2">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="vertical-align">
              <div class="slide-tour">
                {{!-- <span>from $960</span> --}}
                <h2 >Le Maroc comme vous ne l'avait jamais vue </h2>
                <div class="info-line">
                  <div class="info-line-bar">
                    <img src="img/home_2/tour_icon_1.png" alt="">
                    <span>20</span>
                    <h5>tours</h5>
                  </div>
                  <div class="info-line-bar">
                    <img src="img/home_2/tour_icon_2.png" alt="">
                    <span>16</span>
                    <h5>villes</h5>
                  </div>
                  <div class="info-line-bar">
                    <img src="img/home_2/tour_icon_3.png" alt="">
                    <span>200</span>
                    <h5>client</h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="clip">
              <div class="bg bg-bg-chrome act" style="background-image:url(img/5.jpg)">
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="vertical-align">
              <div class="slide-tour">
                <span>from $960</span>
                <h2>best tours in usa</h2>
                <div class="info-line">
                  <div class="info-line-bar">
                    <img src="img/home_2/tour_icon_1.png" alt="">
                    <span>35</span>
                    <h5>tours</h5>
                  </div>
                  <div class="info-line-bar">
                    <img src="img/home_2/tour_icon_2.png" alt="">
                    <span>24</span>
                    <h5>cities</h5>
                  </div>
                  <div class="info-line-bar">
                    <img src="img/home_2/tour_icon_3.png" alt="">
                    <span>90</span>
                    <h5>hotels</h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="clip">
              <div class="bg bg-bg-chrome act" style="background-image:url(img/home_2/item_img_6.jpg)">
              </div>
            </div>
          </div>
        </div>
        <div class="pagination pagination-hidden poin-style-1"></div>
      </div>
      <div class="arrow-wrapp arr-s-1">
        <div class="cont-1170">
          <div class="swiper-arrow-left sw-arrow">
            <span class="fa fa-angle-left"></span>
          </div>
          <div class="swiper-arrow-right sw-arrow">
            <span class="fa fa-angle-right"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
 
  <div class="row no-padd">
    <div class="col-xs-12 col-md-6">
      <div class="video-click">
        <a href="https://player.vimeo.com/video/186219014?color=cd6018&amp;title=0&amp;byline=0&amp;portrait=0" class="video-change"></a>
        <img src="img/A_1.jpg" class="img-href res-img" alt="video image">
        <div class="video">
          <iframe></iframe>
          <img src="img/home_2/close.png" alt="close" class="close-v">
        </div>
        <div class="video-title">
          <div class="item-block style-2">
            <div class="play">
              <img src="img/home_2/play.png" alt="palay">
            </div>
            <h3>Le Maroc</h3>
            <p>Envolez-vous vers un incroyable circuit en Maroc.</p>
          </div>
        </div>

      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="swiper-container comm-info-slider" data-autoplay="0" data-loop="1" data-speed="1000" data-center="0" data-slides-per-view="1"
        id="testi-slider-2">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="img/la-mamounia-vous-accueille-1.jpg" alt="" class="res-img">
            <div class="vertical-align tm-title">
              <a href="#" class="button-s-2 bg-orange">Nos partenaire</a>
              {{!-- <h3>nos partenaire</h3> --}}
              <div class="comm-info">
                {{!-- <img src="img/home_2/people.png" alt=""> --}}
                <div class="comm-info-txt">
                  <h5>hotel la mamonia </h5>
                  <p> Un palace, un mythe indissociable de Marrakech, de son histoire, de ses couleurs, de ses traditions.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <img src="img/home_2/item_img_8.jpg" alt="" class="res-img">
            <div class="vertical-align tm-title">
              <a href="#" class="button-s-2 bg-orange">from $273</a>
              <h3>food tours</h3>
              <div class="comm-info">
                {{!-- <img src="img/home_2/people.png" alt=""> --}}
                <div class="comm-info-txt">
                  <h5>Auberge de jaafar</h5>
                  <p>“Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam.”</p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <img src="img/home_2/item_img_8.jpg" alt="" class="res-img">
            <div class="vertical-align tm-title">
              <a href="#" class="button-s-2 bg-orange">from $273</a>
              <h3>food tours</h3>
              <div class="comm-info">
                <img src="img/home_2/people.png" alt="">
                <div class="comm-info-txt">
                  <h5>inna lunoe</h5>
                  <p>“Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam.”</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pagination poin-style-1"></div>
      </div>
    </div>
  </div>



  <div class="testimonials">
    <div class="row no-padd">
      <div class="col-md-12">
        <div class="clip">
          <div class="bg bg-bg-chrome" style="background-image:url(img/home_2/item_img_12.jpg)">
          </div>
        </div>
        <div class="swiper-container testi-3" data-autoplay="0" data-loop="1" data-speed="1000" data-center="0" data-slides-per-view="1"
          id="testi-slider-3">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="testi-wrap">
                <div class="qq">
                  <img src="img/quote.png" alt="">
                </div>
                <p>Duis posuere eget purus et euismod. Sed luctus ligula non est fringilla commodo. Nullam faucibus quam sit
                  magna risus, fermentum at varius eu.</p>
                <h4>
                  <b>tomas linderman</b>
                </h4>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="testi-wrap">
                <div class="qq">
                  <img src="img/quote.png" alt="">
                </div>
                <p>Duis posuere eget purus et euismod. Sed luctus ligula non est fringilla commodo. Nullam faucibus quam sit
                  magna risus, fermentum at varius eu.</p>
                <h4>
                  <b>tomas linderman</b>
                </h4>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="testi-wrap">
                <div class="qq">
                  <img src="img/quote.png" alt="">
                </div>
                <p>Duis posuere eget purus et euismod. Sed luctus ligula non est fringilla commodo. Nullam faucibus quam sit
                  magna risus, fermentum at varius eu.</p>
                <h4>
                  <b>tomas linderman</b>
                </h4>
              </div>
            </div>
          </div>
          <div class="pagination poin-style-1"></div>
        </div>

      </div>
    </div>
  </div>
</div>